html {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100vh;
}

body {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

header {
    background: #0066be;
}

.header-container {
    display: flex;
    align-items: center;
    column-gap: 2%;
    padding: 0.5rem 0.75rem;
}
@media (min-width: 640px) {
    .header-container {
        max-width: 960px;
        margin: 0 auto;
    }
}

.logo {
    width: auto;
    max-height: 2.5rem;
    flex: 0 1 auto;
}

.search-bar {
    flex: 1 1 auto;
    max-width: 500px;
    overflow: hidden;
}

.search-form {
    display: flex;
}

.search-input {
    flex: 1 1 auto;
    min-width: 0;
    margin: 0;
    border: 1px solid silver;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0.1em 0 0.1em 0.5em;
}
.search-input:focus {
    outline: none;
}

.search-button {
    flex: 0 0 auto;
    margin: 0;
    border: 1px solid silver;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.search-button img {
    height: 1.25em;
    width: auto;
}

.inner-body {
    background-color: white;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
@media (min-width: 640px) {
    .inner-body {
        width: max(640px, 98%);
        max-width: 960px;
        align-self: center;
        box-shadow: 3px 0 5px rgb(0 0 0 / 0.15), -3px 0 5px rgb(0 0 0 / 0.15);
    }
}

main {
    flex: 1 0 auto;
}

footer p {
    font-size: 0.75rem;
    text-align: center;
    color: rgb(150 150 150);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.plain-link:link {
    color: initial;
    text-decoration: none;
}

.plain-link:visited {
    color: initial;
    text-decoration: none;
}

.plain-link:hover {
    color: initial;
    text-decoration: none;
}

.plain-link:active {
    color: initial;
    text-decoration: none;
}
