.inner-body.video main {
    display: flex;
    flex-direction: column;
}

.inner-body.video main > * {
    margin: 0;
}

.inner-body.video .video-player {
    display: block;
    max-height: 80vh;
    background-color: black;
}

/*hide chrome video player's default gradient overlay*/
.inner-body.video .video-player::-webkit-media-controls-panel {
    background-image: none !important;
}

.inner-body.video .details-container {
    width: 100%;
    max-width: 720px;
    align-self: center;
    margin-top: 1rem;
    padding: 0.5rem;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 0.25rem;
}

.inner-body.video .details-container * {
    margin: 0;
}

.inner-body.video .title {
    margin-top: 0;
}

.inner-body.video .stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
    margin-top: 0.75rem;
    font-weight: 500;
}

.inner-body.video .description {
    margin-top: 0.75rem;
}
