<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css"/>
    <link rel="stylesheet" href="/static/style.css"/>
    <title th:text="${video.title}">Video Title</title>
</head>
<body>

<header>
    <div class="header-container">
        <img src="/static/logo.png" alt="vidme logo"/>
    </div>
</header>

<div class="inner-body">
    <main>
        <video class="video-player" th:src="@{/video/stream/{fileId}(fileId=${video.fileId})}" controls autoplay>
            Video
        </video>
        <div class="video-details-container">
            <h1 class="video-title" th:text="${video.title}">Video Title</h1>
            <div class="video-stats-container">
                <p class="video-uploaded-at"
                   th:text='${T(java.lang.String).format("Uploaded %s ago", timeSinceUpload)}'>
                    Uploaded 0 days ago
                </p>
                <p class="video-views" th:text='${T(java.lang.String).format("%,d views", video.views)}'>0 views</p>
            </div>
            <p style="white-space: pre-line" class="video-description" th:text="${video.description}">Video Description</p>
        </div>
    </main>

    <footer>
        <p th:text="|© ${#temporals.year(#temporals.createNow())} vidme|">© 2024 vidme</p>
    </footer>
</div>

</body>
</html>
