<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css"/>

    <link rel="stylesheet" href="/static/css/base.css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" href="/static/css/video.css" th:href="@{/css/video.css}"/>
    <link rel="stylesheet" href="/static/css/videos.css" th:href="@{/css/videos.css}"/>

    <link rel="icon" type="image/png" href="/static/images/favicon.png" th:href="@{/images/favicon.png}"/>

    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <script src="/static/js/autoplay-fix.js" th:src="@{/js/autoplay-fix.js}"></script>

    <title th:text="(${query.isEmpty()} ? 'All videos' : ${query}) + ' - vidme'">query - vidme</title>
</head>

<body>
<header>
    <div class="header-container">
        <a href="/" th:href="@{/}" hx-boost="true" hx-target="body">
            <img class="logo" src="/static/images/logo.png" th:src="@{/images/logo.png}" width="467" height="163" alt="vidme logo"/>
        </a>
        <div class="search-bar">
            <form class="search-form" action="#" th:action="@{/videos}" method="get" hx-boost="true" hx-target="body" hx-push-url="true">
                <input class="search-input" type="search" name="query" th:value="${query}"/>
                <button class="search-button" type="submit">
                    <img src="/static/images/search.png" th:src="@{/images/search.png}" width="192" height="192" alt="Search icon"/>
                </button>
            </form>
        </div>
        <div class="filler"></div>
    </div>
</header>

<main class="videos">
    <div class="videos-header">
        <h1>Search Results</h1>
        <form class="sort-form" action="#" th:action="@{/videos}" method="get" hx-boost="true" hx-target="body" hx-push-url="true" hx-trigger="change from:#sort-select">
            <input type="hidden" name="query" th:value="${query}"/>
            <label for="sort-select">Sort by</label>
            <select name="sort" id="sort-select">
                <option value="newest" th:selected="${videoSort == T(dev.dkaz.vidme.video.VideoSort).NEWEST}">Newest</option>
                <option value="oldest" th:selected="${videoSort == T(dev.dkaz.vidme.video.VideoSort).OLDEST}">Oldest</option>
                <option value="views" th:selected="${videoSort == T(dev.dkaz.vidme.video.VideoSort).VIEWS}">Views</option>
            </select>
        </form>
    </div>
    <div class="videos-container">
        <article class="video-container" th:each="videoDto : ${videoDtos}">
            <div class="thumbnail-container">
                <a href="#" th:href="@{/video/{hashId}(hashId=${videoDto.hashId()})}" hx-boost="true" hx-target="body">
                    <img class="thumbnail" src="#" th:src="@{/thumbnail/{fileId}(fileId=${videoDto.video().thumbnailId})}" alt="Video thumbnail">
                </a>
            </div>
            <div class="details-container">
                <div class="blur"></div>
                <a class="title plain-link" href="#" th:href="@{/video/{hashId}(hashId=${videoDto.hashId()})}" hx-boost="true" hx-target="body">
                    <h2 th:text="${videoDto.video().title}">Video Title</h2>
                </a>
                <div class="stats-container">
                    <p class="views"
                       th:text='${T(java.lang.String).format("%,d views", videoDto.video().views)}'>
                        0 views
                    </p>
                    <p class="uploaded-at"
                       th:text='${T(java.lang.String).format("Uploaded %s ago", videoDto.timeSinceUpload())}'>
                        Uploaded 0 days ago
                    </p>
                </div>
                <p class="description" th:text="${videoDto.video().description}">Video Description</p>
            </div>
        </article>

        <p th:if="${videoDtos.isEmpty() && page == 0}">No results</p>
        <p th:if="${videoDtos.isEmpty() && page > 0}">End of results</p>
        <div th:if="${!videoDtos.isEmpty()}" class="end-of-page"
             th:hx-get="@{/hx/videos(query=${query}, page=${page + 1})}"
             hx-trigger="revealed" hx-swap="outerHTML"></div>
    </div>
</main>

<footer>
    <p th:text="|© ${#temporals.year(#temporals.createNow())} vidme|">© 2000 vidme</p>
</footer>
</body>

</html>
